@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400&display=swap');

*{
 font-family: 'Almarai', sans-serif;
  box-sizing: border-box;
  margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    direction: rtl;
}
.body_flora{
    display: flex;
    justify-content: space-between;
}

.left_side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.img_flora{
    width: 50%;
}
.img_flora hr{
   border: 1px solid #1CBDCB;
   box-shadow:#1cbccb3f 0px 1px 4px;
}

.img_flora img{
    width: 100%;
}
.textleft_side{
    width: 80%;
    text-align: center;
}
.textleft_side h1{
    font-size: 45px;
    color: #1CBDCB;
    font-weight: 400;
    margin-bottom: 20px;
}
.textleft_side p{
    text-align: start;
    color: #BEBEBE;
    font-size: 18px;
}
.right_side{
    width: 50%;
    background-color: #1CBDCB;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginflora{
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
}
.loginflora img{
    width: 80%;
}
.imglog{
    display: flex;
    justify-content: center;
}
.loginflora h2{
    margin-top: 40px;
    font-weight: 500;
    margin-bottom: 8px;
    font-weight: 500;
}
.loginflora h4{
    font-weight: 500;
    margin-bottom: 30px;
    font-weight: 200;
}
.inputflo{
    margin-bottom: 20px;
}
.inputflo p{
    font-size: 13px;
}
.inputflo input{
    margin-top: 2px;
    width: 100%;
    padding: 15px;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    outline: none;
}

.btn_Signin{
    margin: 20px 0;
    width: 100%;
    padding: 15px;
    background-color: #1CBDCB;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.powered {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.powered p{
    font-size: 13px;
    color: #AAAAAA;
}
.powered a{
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}

@media (max-width:1150px) {
    .textleft_side h1{
        font-size: 34px;
    }
    .textleft_side p{
        font-size: 15px;
    }
}
@media (max-width:900px) {
    .body_flora{
        flex-direction: column-reverse;
    }
    .left_side{
        display: none;
    }
    .right_side{
        width: 100%;
    }
}
@media (max-width:450px) {
    .loginflora{
        width: 90%;
    }
}


/* ////////////////////////////////// blur //////////////// */

.hrrrr{
    width: 100%;
    margin-top: -30px;
    transition: all .6s ease;
    /* transition-duration: .5s; */
}
.left_side:hover  .hrrrr{
    transform: translateY(-285px);
    transition-delay: .1s;
    transition-duration: 1s;
    /* animation-duration: 7s;
    animation-delay: 5s !important; */
}

.img_flora{
    transition: all .8s ease;
    /* animation-delay: 3s; */
    transition-duration: 1s;
}
 .left_side:hover  img{
    transition-delay: .1s ;
    filter: blur(4px);
    animation: fff 1s both  ease;
}
@keyframes fff {
    0%{
        filter: blur(0px);
    }
    30%{
        filter: blur(1px);
    }
    50%{
        filter: blur(2px);
    }
    70%{
        filter: blur(2.5px);
    }
    80%{
        filter: blur(3px);
    }
    90%{
        filter: blur(3.5px);
    }
    100%{
        filter: blur(4px);
    }
}
/* @keyframes mymove {
    from {filter: blur(0px);}
    to {filter: blur(4px);}
  } */
.popblo{
    width: 10px;
    height: 10px;
    background-color: #1CBDCB;
    border-radius: 50%;
    margin-bottom: -6px;
}
.popblo2{
    width: 10px;
    height: 10px;
    background-color: #1CBDCB;
    float: left;
    border-radius: 50%;
    margin-top: -5px;
}